@require "./base.styl"

.{$-melon-class-prefix}-monthpicker

    position: relative
    background-color: #fff

    > label
        display: block
        color: #666

    &-result
        text-align: right
