@require "./base.styl"

.{$-melon-class-prefix}-scrollview
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

    position: relative
    overflow: hidden

    width: 100%

    &-scroller
        white-space: nowrap