@require "./base.styl"

.{$-melon-class-prefix}-selector
    width: 100%
    position: relative
    z-index: 1
    padding: 0.3em 0

    &-item
        height: 2em
        line-height: 2em
        color: #333
        position: relative
        font-size: 1.2em
        text-align: center

        &.state-selected
            color: #ff5a5f