@import "./base.styl"

.{$-melon-class-prefix}-tab

    display: block
    margin: 0
    padding: 0

    &-bar
        position: relative
        width: 100%

        background-color: #f3f3f3
        white-space: nowrap

        list-style: none


.{$-melon-class-prefix}-tab-item

    cursor: pointer
    height: 3em
    line-height: 3em
    text-align: center
    color: #666
    display: inline-block

    &.state-selected
        color: #ff5a5f

    &.state-disabled
        color: #fff


.{$-melon-class-prefix}-tab-panel
    display: none

    &.state-active
        display: block !important

.{$-melon-class-prefix}-tab-inkbar

    display: inline-block

    position: absolute
    bottom: 0
    left: 0

    height: 2px
    background-color: #ff5a5f

    transition: all .8s cubic-bezier(0.23, 1, 0.32, 1) 0ms


