

.transition-opacity-enter
    opacity: 0.01
    &.view-transition-opacity-enter-active
        opacity: 1
        transition: opacity 500ms ease-in

.transition-opacity-leave
    opacity: 1
    &.view-transition-opacity-leave-active
        opacity: 0.01
        transition: opacity 500ms ease-in