@require "./base.styl"


.{$-melon-class-prefix}-view
    position: absolute
    top: 0
    left: 0
    right: 0
    width: 100%

    &.view-transition-opacity-enter
        opacity: 0.01
        &.view-transition-opacity-enter-active
            opacity: 1
            transition: opacity 500ms ease-in

    &.view-transition-opacity-leave
        opacity: 1
        &.view-transition-opacity-leave-active
            opacity: 0.01
            transition: opacity 500ms ease-in
